.expense__controls {
   display: flex;
   flex-wrap: wrap;
   gap: 1rem;
   margin-bottom: 1rem;
   text-align: left;
}

.expense__control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}

.expense__control input{
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 30rem;
    max-width: 100%;
}

.expense__action {
    text-align: right;
    padding: 0.5rem;
}

.expense__action button {
    cursor: pointer;
    background-color:#40005d;
    padding: 1rem;
    color: white;
    border: #ccc;
    border-radius: 12px;
    font-weight: bold;
}